<section id="contactText" class="flex-center-center">
  <div class="overlay"></div>
    <h2>Not everything has to be a big deal</h2>
    <h3 class="heading">We enjoy working on an hour-long advisory Zoom call as much as a long-term project</h3>
</section>

<section id="contact" class="flex-center-center">
   <h2 class="heading">How can we help you?</h2>
    <h3 class="heading gradient">Drop us a line</h3>
    
    <div class="contact inner-limit">
      <div id="formContent">
        < form
          action="https://formspree.io/f/xwkddjlo"
          method="POST">
          <div class="form">
            <div class="col">
              <input name="name" type="text" placeholder="Your Name" required aria-label="Name" />
              <input name="email" type="email" placeholder="Your Email" required aria-label="Email" />
              <input name="phone" type="tel" placeholder="Your Mobile" required aria-label="Mobile" />
            </div>
            <div class="col">
              <textarea name="message" placeholder="Your message" required aria-label="Message"></textarea>
              <button type="submit"> >Send Message</button>
            </div>
          </div>
        </form>
      </div>
    </div>

</section>
